@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL@400,1;700,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    color: #333333;
}

ion-icon[name="close-circle"] {
    color: #FF3030;
}

ion-icon[name="help-circle"] {
    color: #FF922E;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.logo > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.main-screen {
    background-color: #FB6B6B;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.main-logo {
    min-height: 110px;
    min-width: 110px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 50%;
    margin-bottom: 10%;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.button {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    color: #D70900;
    width: 80%;
    height: 60px;
    background-color: #FFFFFF;
    border: 2px solid #D70900;
    border-radius: 9px;
    box-sizing: border-box;
    cursor: pointer;
}

.cover, .card {
    width: 100%;
    min-height: 60px;
    margin: 12px 20%;
    padding: 5px 10px;
    border-radius: 6px;
    box-sizing: border-box;    
}

.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.cover > ion-icon {
    font-size: 28px;
    min-width: 20px;
    min-height: 20px;
}

.card {
    min-height: 80px;
    background-color: #FFFFD4;
}

.text-content {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

.button-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.flip {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: right;
}

.state-1, .state-2, .state-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
    width: 30%;
    font-size: 12px;
}

.state-1 {
    background-color: #FF3030;
}

.result-1 {
    color: #FF3030;
    text-decoration: line-through;
}

.state-2 {
    background-color: #FF922E;
}

.result-2 {
    color: #FF922E;
    text-decoration: line-through;
}

.state-3 {
    background-color: #2FBE34;
}

.result-3 {
    color: #2FBE34;
    text-decoration: line-through;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    background-color: #FFFFFF;
}

.conclusion {
    text-align: center;
    width: 100%;
    margin: 15px auto;
}

.conclusion h2 {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conclusion img {
    width: 18px;
    height: 18px;
}

.hidden {
    display: none;
}